<% render "todos/errors" %>

<div class="container">
  <div class="row">
    <h2 class="text-center"><%= t :showpage_title %></h2>
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <p><span class="descriptionText"><%= t :todo_name %>:</span> <%= @todo.name %></p>
          <br />
          <p><span class="descriptionText"><%= t :todo_description %>:</span> <%= @todo.description %></p>
           <p>
            <%= link_to (t :showpage_edit_button), edit_todo_path(@todo), class: "btn btn-primary" %> 
            <%= link_to (t :back_to_index), todos_path, class: "btn btn-warning" %>
          </p>
      </div>
    </div>
</div>
</div>