
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to (t :home_page), root_path %></li>
            <li><%#= link_to "Help", help_path   %></li>
            <!-- <li class="divider"></li> -->
          </ul>
         
          <ul class="nav navbar-nav navbar-right">
            <%= content_tag :li do%>
              <%= link_to 'Switch to English', locale: :en %>
            <% end unless current_page?(locale: :en) %>

            <%= content_tag :li do%>
              <%= link_to 'Zu Deutsch wechseln', locale: :de %>
            <% end unless current_page?(locale: :de) %>


            <li><%= link_to (t :create_todo), new_todo_path %></li>
            <li><%= link_to (t :todo_list), todos_path %></li>
          </ul> 
          </div>
        </nav>
      </div>
    
  </header>